body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/kill-antonieto/serio/blob/main/images/fondo.png'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
