body {
    font-family: Arial, sans-serif;
    background-image: url('URL_DE_TU_IMAGEN_EN_GITHUB'); /* Reemplaza 'URL_DE_TU_IMAGEN_EN_GITHUB' con la URL que copiaste */
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
